<html>
  <head>
    <title>DOM Manager test server</title>
    <script src="dist/domm.js"></script>
    <link rel="stylesheet" href="node_modules/mocha/mocha.css">
    <link rel="icon" href="/favicon.ico">
  </head>
  <body>
    {{{body}}}
  </body>
</html>